@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Arimo", sans-serif;
    font-weight: 700;
}

.h1 {
    font-size: 24px;
    text-transform: uppercase;
}
.h2 {
    font-size: 24px;
}
.h3 {
    font-size: 18px;
    text-transform: uppercase;
}
.h4 {
    font-size: 16px;
    text-transform: uppercase;
}
p,
.body {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 110%;
}

@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");
